// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #303030;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------
.widget-roomtemperature {

  background-color: $background-color;

  .title {
    color: $light-color;
  }

  .temperature {
    color: $full-color;
  }

  .humidity {
    color: $full-color;
    font-size: 45px;
  }

  .more-info {
    color: rgba(0, 0, 0, 0.3);
  }

  .updated-at {
    color: $light-color;
  }
}
